.normal {
    padding: 10px 16px;
    min-width: 50px;
    color: white;
    text-align: center;
    background-color: #c91313;
    font-weight: 500;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18.5px;
    &:hover {
        background-color: #750808;
    }
}
