.analysWrapper {
    background: url('../../../assets/Home/analysis-thumb.jpg') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
    display: flex;
    .logo--analyst {
        width: 175px;
        height: 175px;
        margin: 165px auto !important;
        position: relative;
        background: white;
        margin: 0 auto;
        padding: 37px;
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        &--name {
            font-size: 25px;
            font-family: 'pangolin';
            color: #ffd000;
        }
        &--price {
            font-size: 45px;
        }
        &--icon {
            right: 23px;
            position: absolute;
            .icon {
                color: #ff514e;
                font-size: 50px;
            }
        }
        .logo--analyst--cycle {
            background-color: #ff514e;
            position: absolute;
            border-radius: 50%;
            + .c1 {
                width: 0px;
                height: 40px;
                top: 76%;
                right: 72%;
            }
            + .c2 {
                width: 0px;
                height: 80px;
                top: 8%;
                right: 80%;
            }
            + .c3 {
                width: 0px;
                height: 80px;
                top: 6%;
                right: 27%;
            }
        }
        &:hover {
            background-color: #ff514e;
            color: white;
            transition: all 0.4s;
            .logo--analyst--cycle {
                + .c1 {
                    width: 40px;
                    transition: all 0.4s;
                    transform: translate3d(-60px, 70px, 0);
                }
                + .c2 {
                    width: 80px;
                    transition: all 0.4s;
                    transform: translate3d(-40px, -90px, 0);
                }
                + .c3 {
                    width: 80px;
                    transition: all 0.4s;
                    transform: translate3d(140px, -80px, 0);
                }
            }

            .icon {
                color: #ffd000;
            }
        }
    }
    .analys__data {
        background-color: #ff514e;
        display: flex;
        padding: 40px 0;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        color: white;
        &--item {
            padding: 12px;
            &--amount {
                font-size: 50px;
            }
            &--name {
                font-size: 20px;
                margin: 10px 0;
            }
        }
    }
}
